* {
  margin: 0;
  padding: 0; }

html {
  background-color: black; }

body {
  background-color: #e8e5e5; }

section .container {
  margin-bottom: 50px; }
  section .container .row {
    margin-top: 5%; }
  section .container img {
    opacity: 0.83;
    margin-right: 10px;
    margin-top: 10px;
    height: 250px;
    width: 200; }
    section .container img:hover {
      opacity: 1;
      cursor: pointer;
      margin-right: 5px;
      margin-top: 5px;
      height: 255px;
      width: 205; }
  section .container .profile img {
    opacity: 1;
    margin-right: 5px;
    margin-top: 5px;
    height: 500px;
    width: 450; }
    section .container .profile img:hover {
      cursor: default;
      height: 500px;
      width: 450; }
  section .container .line {
    margin-top: 50px;
    margin-bottom: 50px; }

@media screen and (max-width: 1199px) {
  section .container {
    justify-content: center !important;
    text-align: center;
    display: block !important; }
    section .container .profile .about-us {
      margin-top: 50px;
      width: 100%;
      display: block; }
      section .container .profile .about-us img {
        position: inherit;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        justify-content: center;
        height: 800px;
        width: 700; }
        section .container .profile .about-us img:hover {
          cursor: default;
          height: 500px;
          width: 450; } }

header {
  width: 100%;
  height: 200px; }
  header .header_img {
    width: 100%;
    height: 200px; }

nav .log {
  margin-left: 5%; }

nav .bar {
  position: inherit; }

nav .elem {
  margin-left: 50%; }
  nav .elem:hover {
    border-radius: 3px;
    background-color: rgba(189, 189, 193, 0.28); }

@media screen and (max-width: 1080px) {
  .navbar .nav-link {
    margin-left: 1% !important;
    margin-right: 1% !important;
    padding-left: 1% !important;
    padding-right: 1% !important; } }

section .container {
  margin-bottom: 50px; }
  section .container .row {
    margin-top: 5%; }
  section .container img {
    opacity: 0.83;
    margin-right: 10px;
    margin-top: 10px;
    height: 250px;
    width: 200; }
    section .container img:hover {
      opacity: 1;
      cursor: pointer;
      margin-right: 5px;
      margin-top: 5px;
      height: 255px;
      width: 205; }
  section .container .profile img {
    opacity: 1;
    margin-right: 5px;
    margin-top: 5px;
    height: 500px;
    width: 450; }
    section .container .profile img:hover {
      cursor: default;
      height: 500px;
      width: 450; }
  section .container .line {
    margin-top: 50px;
    margin-bottom: 50px; }

@media screen and (max-width: 1199px) {
  section .container {
    justify-content: center !important;
    text-align: center;
    display: block !important; }
    section .container .profile .about-us {
      margin-top: 50px;
      width: 100%;
      display: block; }
      section .container .profile .about-us img {
        position: inherit;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        justify-content: center;
        height: 800px;
        width: 700; }
        section .container .profile .about-us img:hover {
          cursor: default;
          height: 500px;
          width: 450; } }

section .container {
  margin-bottom: 50px; }
  section .container .row {
    margin-top: 5%; }
  section .container img {
    opacity: 0.83;
    margin-right: 10px;
    margin-top: 10px;
    height: 250px;
    width: 200; }
    section .container img:hover {
      opacity: 1;
      cursor: pointer;
      margin-right: 5px;
      margin-top: 5px;
      height: 255px;
      width: 205; }
  section .container .profile img {
    opacity: 1;
    margin-right: 5px;
    margin-top: 5px;
    height: 500px;
    width: 450; }
    section .container .profile img:hover {
      cursor: default;
      height: 500px;
      width: 450; }
  section .container .line {
    margin-top: 50px;
    margin-bottom: 50px; }

@media screen and (max-width: 1199px) {
  section .container {
    justify-content: center !important;
    text-align: center;
    display: block !important; }
    section .container .profile .about-us {
      margin-top: 50px;
      width: 100%;
      display: block; }
      section .container .profile .about-us img {
        position: inherit;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        justify-content: center;
        height: 800px;
        width: 700; }
        section .container .profile .about-us img:hover {
          cursor: default;
          height: 500px;
          width: 450; } }

footer {
  background-color: black;
  color: white; }
  footer .container .row .col-4 {
    margin-top: 50px;
    text-decoration: none;
    text-align: justify; }
    footer .container .row .col-4 a i {
      margin-right: 10px; }
