@import "section";
footer{
    background-color: black;
    color: white;

    .container{
        
        .row{
            .col-4{
                
                a{
                    i{
                        margin-right: $margin;
                        font-size: 25px;
                        color: white;
                    }
                }
                
                margin-top: $margin * 5;
                text-decoration: none;
                text-align: justify;
                font-size: 10px;
            }
        }
    }

}