footer{
    background-color: black;
    color: white;

    .container{
        .row{
            .col-4{
                a{
                    i{
                        margin-right: 100px;
                    }
                }
                
                margin-top: 200px;
                text-decoration: none;
                text-align: justify;
            }
        }
    }

}