nav{
    .log{
        margin-left: 5%;
    }
    .bar{
        position: inherit;
        
    }
    .elem {
        margin-left: 50%;
        &:hover{
            border-radius: 3px;
            background-color: rgba(189, 189, 193, 0.28);
        }
    }
}